/* @theme common */

@import 'default';

section {
  font-family: 'Arial', 'Hiragino Maru Gothic ProN';
  font-size: 32px;
  padding: 40px;
}

section.title h1 {
  font-family: 'Arial', 'Hiragino Kaku Gothic ProN';
  font-size: 60px;
  text-align: center;
}

section.title {
  font-family: 'Arial', 'Hiragino Maru Gothic ProN';
  font-size: 36px;
  text-align: center;
  padding: 40px;
}

section.black-title h1 {
  color: black;
}

section.main h1 {
  position: absolute;
  left: 50px;
  top: 60px;
}

section.main h2 {
  font-size: 32px;
  position: absolute;
  left: 50px;
  top: 100px;
}

section.main h3 {
  font-size: 28px;
  position: absolute;
  left: 50px;
  top: 500px;
}

section.main h4 {
  font-size: 26px;
  position: absolute;
  left: 50px;
  top: 580px;
}
